@{
    //ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

@Html.Raw(TempData["Message"])
@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="col-md-4 control-label">User Email</label>
            <input type="text" name="txtEmail" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="col-md-4 control-label">Passowrd</label>
            <input type="password" name="txtPassword" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 control-label">
            <button type="submit" value="Submit" class="btn btn-primary">Add</button>
        </div>
    </div>
    <br />
    <div style="text-decoration:none" class="btn btn-success btn-sm">
        @Html.ActionLink("Back", "Index")
    </div>
}
