@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


@Html.Raw(TempData["Message"])
@*<div style="text-decoration:none" class="btn btn-warning btn-sm">
        @Html.ActionLink("Add User", "CreateUser", "Admin")
    </div>
    <div style="text-decoration:none" class="btn btn-warning btn-sm">
        @Html.ActionLink("Add Role", "CreateRole", "Admin")
    </div>
    <div style="text-decoration:none" class="btn btn-warning btn-sm">
        @Html.ActionLink("Assign User Role", "AssignRole", "Admin")
    </div>*@


<div class="box">
    <div class="content">
        <h2>Admin DashBoard</h2>   
        <b><p>Admin Notification here and all admin resources</p></b>
        <a href=""></a>
    </div>

</div>