@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";

}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<html>

<head>
    @*<title>Kewed Boxes </title>*@
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Service one</h3>
                <p>
                    common animal diseases and their prevention and treatments
                </p>
                <a href="http://vikaspedia.in/agriculture/livestock/general-management-practices-of-livestock/common-animal-diseases-and-their-prevention-and-treatments"> Click Read More</a>
            </div>

        </div>
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Service Two</h3>
                <p>
                    Farm animal,explore other animals being farmed around the world
                </p>
                <a href="http://www.find-them-all.com/ipad-iphone-android-free-game-for-kids/app-for-learning-farm-animals"> Click Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Service Three</h3>
                <p>
                    Understanding the basics of livestock farming
                </p>
                <a href="https://www.farmersweekly.co.za/farm-basics/how-to-livestock/basics-of-livestock-farming/"> Click Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>04</h2>
                <h3>Service Four</h3>
                <p>
                    How to manage livestock and managing the farm as a whole,the basic of the farm management
                </p>
                <a href="https://www.farmersweekly.co.za/farm-basics/how-to-livestock/"> Click Read More</a>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.7831011634576!2d31.013478715108967!3d-29.78391268197787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef706e9508796ed%3A0xabd49f17ad6db7e6!2sSanderson%20Pl%2C%20Kenville%2C%20Durban%20North%2C%204051!5e0!3m2!1sen!2sza!4v1582247243563!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</body>
</html>