@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";

}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<div class="box">
    <div class="content">
        <address>
            Hlazathse-hlopheni<br />
            Ulundi 3835<br />
            <abbr title="Phone">P:</abbr>
            0795846225
        </address>

        <address>
            <strong>Email Us:</strong>   <a href="mailto:Support@example.com">Esibayeni@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
        </address>
       
    </div>
</div>
