@* 
 This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
    TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    ViewBag.Layout = null;
}

    <header class="main-header">
        <!-- Logo -->
        <a href="@Url.Action("Index", "Home")" class="logo"><b>Esibayeni Farm</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only"></span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("About", "Home")" class="btn btn-default btn-flat"style="margin:5px;" >About</a>
                            <a href="@Url.Action("Contact", "Home")" class="btn btn-default btn-flat" style="margin:5px;">Contact</a>
                          
                        </div>
                        <div class="pull-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>